.header{
  align-items: center;
  background-color: $color-foot;
  display: flex;
  flex-direction: row;
  height: 45px;
}
.header-logo{
  float: left;
  height: 30px;
  width: 65px;
}
.main-nav__items{
  display: none;

  @media(minwidth: $laptop-breakpoint) {
    display: flex;
    flex-direction: row;
  }
}
.main-nav__item{
  @media(minwidth: $laptop-breakpoint) {
    display: flex;
    flex-direction: row;
  }
}
.main-nav__link:hover{
  border-bottom: solid 2px #fff;
  padding-bottom: 3px;
}
