// Generals etiquets styles
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: $font-fam;
}
header{
  background-color: $color-foot;
  height: 60px;
}
a{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  height: auto;
  width: 100%;
}
.container{
  padding: 0 2%;
  width: 96;
}
.titles{
  font-family: "Palanquin Dark",Arial,Verdana,sans-serif;
  font-weight: bolder;
  padding-top: 10%;
  text-align: center;

  @media (min-width: $tablet-breackpoint) {
    padding-top: 5%;
  }
} 
.sub-titles{
  padding-bottom: 5%;
  text-align: center;

  @media (min-width: $tablet-breackpoint) {
    padding-bottom: 2.5%;
  }
}
