// Generals etiquets styles
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: $font-fam;
}
header{
  background-color: $footer;
}
a{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  height: auto;
  width: 100%;
}
.container{
  padding: 0 2%;
  width: 96%;
  @media (min-width: $breakpoint-md) {
    width: 738px;
    margin: 0 auto;
  }
  @media (min-width: $breakpoint-lg) {
    width: 1080px;
    margin: 0 auto;
  }
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.titles{
  font-family: "Palanquin Dark",Arial,Verdana,sans-serif;
  font-weight: bolder;
  padding-top: 10%;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    padding-top: 5%;
  }
} 
.sub-titles{
  padding-bottom: 5%;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    padding-bottom: 2.5%;
  }
}