// colors
$animacion: #dc651e;
$web: #9e280d;
$post: #819534;
$dic: #3a7d91;

$naranja: #f19130;
$amarillo: #fed604;
$footer: #292929;

// fonts
$font-fam: 'Open Sans', sans-serif;

//breackpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

