// colors
$color-carrear_animacion: #dc651e;
$color-carrear_web: #9e280d;
$color-carrear_post: #819534;
$color-carrear_dic: #3a7d91;

$color-primary: #292929;
$color-secondary: #f19130;

$color-btn_notices: #fed604;

// fonts
$font-fam: 'Open Sans', sans-serif;

// breackpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

