.animation{
  background: 100% 45%;
  background-image: url('../img/3d.jpg');
  background-size: contain;
  justify-content: flex-end;

  /*&:hover{
    background-image: url('../img/3d_giphy.gif');
    transition: 1s;
  }*/
}

$scale-img: scale(1.5);

.carrear{
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carrear__title{
  color: #fff;
  display: inline;
  font-size: 1.5rem;
}
.carrear__btn{
  border-radius: 5px; 
  display: inline-table;
  margin: 1.5em;
  padding: .8em .2em;
  position: relative;
  background: linear-gradient(to right, red, rgb(15, 15, 15));
  
  &:hover{
    background: linear-gradient(to right, purple, rgb(155, 13, 136), red);
    transition: 2s;
  }
}
.carrear__btn-dic{
  background: #222;
  color: white;
  padding: .5rem;
}
.carrear__btn-3d{
  @include btn-carrera();
  &:hover{
    border: solid $animacion 2px;
    color: $animacion;
  }
}
.carrear__btn-web{
  @include btn-carrera();
  &:hover{
    border: solid $web 2px;
    color: $web;
  }
}
.carrear__btn-post{
  @include btn-carrera();
  &:hover{
    border: solid $post 2px;
    color: $post;
  }
}
.cont-carrear-info {
  width: 30%;
  text-align: center;
}
.develop {
  background: 100% 45%;
  background-image: url('../img/web4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;

  /*&:hover{
    background-image: url('../img/web_giphy.gif');
    transition: 1s;
  }*/
}
.dcomercial {
  background-image: url('../img/dic_color.jpg');
  justify-content: flex-start;
  overflow: hidden;
}

.postproduction {
  background-image: url('../img/post5.jpg');
  background-size: cover;
  justify-content: flex-end;
}