.animation{
  background: 100% 45%;
  background-image: url('../img_carreras/3d_giphy');
  background-size: contain;
  justify-content: flex-end;

  &:hover{
    background-image: url('../img_carreras/3d_giphy.gif');
    transition: 1s;
  }
}
.carrear{
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carrear__title{
  color: #fff;
  display: inline;
  font-size: 1.5rem;
}
.carrear__btn{
  display: inline-table;
  margin: 1.5em;
}
.carrear__btn-3d{
  @include btn-carrera();
  &:hover{
    border: solid $animacion 2px;
    color: $animacion;
  }
}
.carrear__btn-web{
  @include btn-carrera();
  &:hover{
    border: solid $web 2px;
    color: $web;
  }
}
.carrear__btn-post{
  @include btn-carrera();
  &:hover{
    border: solid $post 2px;
    color: $post;
  }
}
.carrear__btn-dic{
  @include btn-carrera();
  &:hover{
    border: solid $dic 2px;
    color: $dic;
  }
}
.cont-carrear-info {
  width: 30%;
  text-align: center;
}
.develop {
  background: 100% 45%;
  background-image: url('../img_carreras/web4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;

  /*&:hover{
    background-image: url('../img_carreras/web_giphy.gif');
    transition: 1s;
  }*/
}
.dcomercial {
  background-image: url('../img_carreras/dic_color.jpg');
  justify-content: flex-start;
}

.postproduction {
  background-image: url('../img_carreras/post5.jpg');
  background-size: cover;
  justify-content: flex-end;
}