// header, nav styles
.header{
  background-color: $footer;
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
}
.header-logo{
  float: left;
  width: 85px;
  height: 40px;
}
.nav{
  display: flex;
  justify-content: flex-end;
  float: right;
}
.nav__item{
  float: left;
  padding-left: 25px;

}
.nav-item-flex-1{
  padding-left: 190px;
  padding-right: 0;
}
.nav__link:hover{
  border-bottom: solid 2px #fff;
  padding-bottom: 3px;
}

/*
  Preguntar a Leiva sobre cuál sería la mejor implementación
  de Flex en el caso del header
*/