.hero__banner{
  background-image: url('../img/trianglify.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 400px;
}
.hero__title{
  color: #fff;
  display: inline-table;
  font-size: 42px;
  margin-top: 10%;
}
.hero__video{
  background-color: #fff;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  float: right;
  height: 100%;
  width: 75%;
  
  iframe{
    
  }
}
