
.link-container {
  width: 100%;
  margin: 40px auto 60px auto;
  display: inline-block;
  text-align: center;
}
.news__item{
  float: left;
  height: auto;
  padding: 1%;
  width: 30%;
  height: 250px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.news__item + .news__item{
  margin-left: 1.42%;
}
.news__item-date{
  color: rgb(131, 131, 131);
  margin: 20px;
}

.news__link{
  border: solid $amarillo 2px;
  border-radius: 25px;
  font-weight: bolder;
  color: #000;
  background-color: $amarillo;
  padding: 10px 20px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 20px;
  &:hover{
    color: #fff;
  }
}
